body {
  background-color: #fdfdc4;
  font-family: Georgia, Times, serif;
}

a {
  color: #ffdb14;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
}

form {
  padding: 30px;
  background-color: white;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.09);
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

.prompt {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.8);
  width: 80%;
  font-size: 16px;
  border-radius: 30px;
  line-height: 20px;
  color: #272044;
}

.submit-button {
  margin-left: 10px;
  background: #ffe241;
  color: black;
  border: none;
  width: 120px;
  font-size: 16px;
  border-radius: 30px;
  padding: 14px 24px;
}

.poem {
  font-size: 16px;
  background-color: #fff;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #ffdb14;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.06);
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
